# Core compatibility (plays nice with TF 2.14.x and JAX 0.4.27)
scipy==1.11.4
opencv-python==4.9.0.80

#thop
pycocotools>=2.0


# TensorFlow (CPU is fine; you mainly want TensorBoard)
tensorflow==2.14.1
tensorboard==2.14.1

# JAX (disable plugin discovery in code below)
jax==0.4.27
jaxlib==0.4.27

# Roboflow SDK
roboflow==1.1.28
