# Core compatibility (plays nice with TF 2.14.x and JAX 0.4.27)
scipy==1.11.4
opencv-python==4.9.0.80

#thop
pycocotools>=2.0


# TensorFlow (CPU is fine; you mainly want TensorBoard)
tensorflow==2.14.1
tensorboard==2.14.1

# JAX (disable plugin discovery in code below)
jax==0.4.27
jaxlib==0.4.27


roboflow==1.1.28
torch==2.2.2+cu118
torchvision==0.17.2+cu118
torchaudio==2.2.2+cu118
-f https://download.pytorch.org/whl/torch_stable.html

seaborn>=0.12.2